@import 'tailwindcss';

@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';
@source '../**/*.blade.php';
@source '../**/*.jsx';

@theme {
     /* Font */
    --font-sans: 'Nunito', ui-sans-serif, system-ui, sans-serif;
    --font-heading: 'Baloo 2', cursive;

    /* 🎨 Custom Color dari Logo */
    --color-primary: #5DA9E9;   /* biru */
    --color-secondary: #E63946; /* merah */
    --color-tertiary: #4CAF50;  /* hijau */
    --color-accent: #F4C430;    /* kuning (opsional) */
}

@keyframes fade-in-down {
  0% {
    opacity: 0;
    transform: translateY(-20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.animate-fade-in-down {
  animation: fade-in-down 1.2s ease-out forwards;
}